body#contact {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.maxims.contact {
    h2 {
        font-size: 16vh;
    }
}
.contact-slide {
    width: 200vw;
    margin-top: -10vh;
    p {
        color: #000;
        background-color: #69f0fb;
        font-size: 16vh;
        text-align: center;
        transform: rotate(4deg);
    }
}
.contact-us {
    @include flex(center,flex-start,column);
    row-gap: 2rem;
    p {
        font-size: 1.6rem;
        color: #fff;
        text-transform: capitalize;
    }
    .contact-list {
        @include flex(center,center);
        column-gap: 2rem;
        padding-bottom: 2rem;
        li {
            a {
                font-size: 4rem;
                width: 7rem;
                height: 7rem;
                border: solid 1px #fff;
                border-radius: 50%;
                display: flex;
                color: #fff;
                align-items: center;
                justify-content: center;
                img {
                    width: 4rem;
                }
                &:hover {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%);
                }
            }
        }
    }
}



@media (max-width:768px) {
    .maxims.contact {
        h2 {
            font-size: 12vh;
        }
    }
}