@charset "UTF-8";
@import "./reset.scss";
@import "./font.scss";
@import "./variables.scss";
@import "./mixins.scss";

html {
  font-size: 10px;
  @include breakpoints(
    "font-size",
    "",
    (
      1920: 0.625vw,
      // 1600: 0.66vw,
      // 1280: 0.68vw,
      768: 1.302vw,
    )
  );
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: min(100% - 0rem, 192rem);
  // margin-inline: auto;
  font-family: "Arimo", sans-serif;
}
body#projects {
  margin-inline: auto;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
.navBar {
  position: fixed;
  top: 0rem;
  padding: 2rem;
  width: calc(100% - 4rem);
  max-width: (192rem - 4rem);
  @include flex(start);
  z-index: 99;
  &__logo {
    display: inline-block;
    cursor: pointer;
    z-index: 99;
  }
  &__navLink {
    display: flex;
    a {
      font-size: 1.6rem;
      padding: .8rem 5rem .8rem 25rem;
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      // &:nth-child(2) {
      //   margin-left: 25rem;
      // }
      &:hover {
        background-color: #41f4ff;
        color: #fff;
      }
    }
  }
  &__hambuger {
    @include flex(center, center, column);
    row-gap: 0.6rem;
    cursor: pointer;
    z-index: 99;
    .bar {
      display: block;
      width: 7rem;
      border-bottom: 0.2rem solid #fff;
      border-radius: 0.5rem;
      transition: transform .3s .5s linear;
    }
  }
  &__hambuger.common {
    margin-left: 30rem;
    .bar {
      border-color: #000;
    }
  }
  &__hambuger.active {
    .bar {
      border-color: #fff;
    }
    .bar:first-child {
      transform: translateY(1rem) rotate(45deg);
    }
    .bar:nth-child(2) {
      transform: translateY(0.3rem) rotate(-45deg);
    }
  }
  &__fixedBar {
    position: fixed;
    top: -100vh;
    left: 0vw;
    @include size(100vw,100vh);
    background-color: #000;
    z-index: 98;
    overflow: hidden;
    color: #fff;
    transition: all .5s linear;
    &-links {
      @include flex(center,center,column);
      height: 100vh;
      width: 100vw;
      overflow-x: hidden;
      a {
        text-align: center;
        width: 100vw;
        font-size: 16.3rem;
        color: #fff;
        display: grid;
        grid-template-columns: 100vw 100vw 100vw;
        span {
          width: 100vw;
          display: inline-block;
          border: solid 1px #fff;
          border-left: none;
          border-right: none;
          // transition: all 1s linear;
        }
        &:hover {
          
          -webkit-animation: moveX 5s steps(80)  infinite;
          animation: moveX 5s steps(80)  infinite;
          // transition: all 3s linear;
          span {
            background-color: #6bf4ff;
          }
        }
      }
    }
    @keyframes moveX {
      0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-50vw);
      }
      50% {
        transform: translateX(-100vw);
      }
      75% {
        transform: translateX(-150vw);
      }
      100% {
        transform: translateX(-200vw);
      }
    }
    &-bottom {
      width: calc(100% - 2rem);
      padding: 0 1rem 2rem;
      position: absolute;
      bottom: 0;
      left: 0;
      @include flex(end,space-between);
      .mail {
        text-transform: lowercase;
        color: #fff;
        font-size: 1.4rem;
      }
      & .more-contact {
        @include flex(center,flex-end);
        column-gap: 1rem;
        li {
          a {
            font-size: 3rem;
            width: 5rem;
            height: 5rem;
            border: solid 1px #fff;
            border-radius: 50%;
            display: flex;
            color: #fff;
            align-items: center;
            justify-content: center;
            img {
              width: 3rem;
              filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%);
            }
            &:hover {
              background-color: #fff;
              color: #000;
              img {
                filter: invert(0%) sepia(88%) saturate(7480%) hue-rotate(227deg) brightness(104%) contrast(100%);
              }
            }
          }
        }
      }
    }
  }
  &__fixedBar.active {
    top: 0vh;
  }
}

@import "./home-style.scss";
@import "./project-style.scss";
@import "./contact-style.scss";
@import "./service-style.scss";

.loading-scene {
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  @include size(100vw, 100vh);
  span {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(16, 16, 16, 1) 100%
    );
    display: block;
    height: 0vh;
  }
}
.loading-scene.animation {
  animation: back 0.1s 0.9s forwards;
  span {
    animation: loading 0.5s linear forwards;
    &:nth-child(4) {
      animation-delay: 0.1s;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      animation-delay: 0.3s;
    }
    &:nth-child(1) {
      animation-delay: 0.4s;
    }
  }
}
.fade {
  transition: opacity ease-in-out .5s;
}
.fadeIn {
  opacity: 1;
}
.fadeEleLeft {
  opacity: 0;
  transform: translateX(-5rem);
}
.fadeEleRight {
  opacity: 0;
  transform: translateX(5rem);
}
.fadeInLeft {
  opacity: 1;
  transform: translateX(0);
}

@keyframes loading {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}
@keyframes back {
  to {
    z-index: -99;
    visibility: hidden;
  }
}


