html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Arimo-R";
  src: url("../../assets/fonts/Arimo-Regular.ttf");
  font-weight: 400;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media (max-width: 1920px) {
  html {
    font-size: 0.625vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 1.302vw;
  }
}

body {
  width: min(100% - 0rem, 192rem);
  font-family: "Arimo", sans-serif;
}

body#projects {
  margin-inline: auto;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.navBar {
  position: fixed;
  top: 0rem;
  padding: 2rem;
  width: calc(100% - 4rem);
  max-width: 188rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  z-index: 99;
}
.navBar__logo {
  display: inline-block;
  cursor: pointer;
  z-index: 99;
}
.navBar__navLink {
  display: flex;
}
.navBar__navLink a {
  font-size: 1.6rem;
  padding: 0.8rem 5rem 0.8rem 25rem;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}
.navBar__navLink a:hover {
  background-color: #41f4ff;
  color: #fff;
}
.navBar__hambuger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.6rem;
  cursor: pointer;
  z-index: 99;
}
.navBar__hambuger .bar {
  display: block;
  width: 7rem;
  border-bottom: 0.2rem solid #fff;
  border-radius: 0.5rem;
  transition: transform 0.3s 0.5s linear;
}
.navBar__hambuger.common {
  margin-left: 30rem;
}
.navBar__hambuger.common .bar {
  border-color: #000;
}
.navBar__hambuger.active .bar {
  border-color: #fff;
}
.navBar__hambuger.active .bar:first-child {
  transform: translateY(1rem) rotate(45deg);
}
.navBar__hambuger.active .bar:nth-child(2) {
  transform: translateY(0.3rem) rotate(-45deg);
}
.navBar__fixedBar {
  position: fixed;
  top: -100vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 98;
  overflow: hidden;
  color: #fff;
  transition: all 0.5s linear;
}
.navBar__fixedBar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.navBar__fixedBar-links a {
  text-align: center;
  width: 100vw;
  font-size: 16.3rem;
  color: #fff;
  display: grid;
  grid-template-columns: 100vw 100vw 100vw;
}
.navBar__fixedBar-links a span {
  width: 100vw;
  display: inline-block;
  border: solid 1px #fff;
  border-left: none;
  border-right: none;
}
.navBar__fixedBar-links a:hover {
  -webkit-animation: moveX 5s steps(80) infinite;
  animation: moveX 5s steps(80) infinite;
}
.navBar__fixedBar-links a:hover span {
  background-color: #6bf4ff;
}
@keyframes moveX {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-50vw);
  }
  50% {
    transform: translateX(-100vw);
  }
  75% {
    transform: translateX(-150vw);
  }
  100% {
    transform: translateX(-200vw);
  }
}
.navBar__fixedBar-bottom {
  width: calc(100% - 2rem);
  padding: 0 1rem 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-direction: row;
}
.navBar__fixedBar-bottom .mail {
  text-transform: lowercase;
  color: #fff;
  font-size: 1.4rem;
}
.navBar__fixedBar-bottom .more-contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  column-gap: 1rem;
}
.navBar__fixedBar-bottom .more-contact li a {
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  border: solid 1px #fff;
  border-radius: 50%;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.navBar__fixedBar-bottom .more-contact li a img {
  width: 3rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%);
}
.navBar__fixedBar-bottom .more-contact li a:hover {
  background-color: #fff;
  color: #000;
}
.navBar__fixedBar-bottom .more-contact li a:hover img {
  filter: invert(0%) sepia(88%) saturate(7480%) hue-rotate(227deg) brightness(104%) contrast(100%);
}
.navBar__fixedBar.active {
  top: 0vh;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 10rem;
  opacity: 0;
}
.main .video_container {
  position: absolute;
  top: 0;
  left: 0;
}
.main__videoBg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.main__videoBg.hide {
  opacity: 0;
}

.main.animation {
  animation: appear 0.3s 1s forwards;
}

.maxims {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
.maxims h2 {
  font-size: 10.052vw;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
}
.maxims h2.animation {
  animation: fadeInDown 0.5s linear forwards;
}
.maxims h2.animation:nth-child(1) {
  animation-delay: 1.3s;
}
.maxims h2.animation:nth-child(2) {
  animation-delay: 1.635s;
}
.maxims h2.animation:nth-child(3) {
  animation-delay: 1.77s;
}
.maxims__border {
  position: absolute;
  bottom: 0.755vw;
  transform: translateX(-50%);
  left: 50%;
  width: 49.48vw;
  height: 8.54vw;
  border: solid 0.15rem #41f4ff;
  border: none;
  border-radius: 50%;
}
.maxims__border svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.maxims__border.animation svg {
  stroke: #41f4ff;
  stroke-width: 2px;
  fill: transparent;
  transform: translate(0px, 0px);
}
.maxims__border.animation svg ellipse {
  stroke-dasharray: 0px, 1480px;
  stroke-dashoffset: -2960;
  animation: rotateAppear 2s linear forwards;
  animation-delay: 2.8s;
}
.maxims__border.collapse svg {
  transform: scale(-1, 1);
}
.maxims__border.collapse svg ellipse {
  stroke-dasharray: 1480px, 0px;
  stroke-dashoffset: 0;
  animation: rotateHidden 2s linear forwards;
  animation-delay: 2.8s;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 5rem;
  padding-bottom: 2rem;
}
.navBottom a {
  background-color: transparent;
  border: solid 0.15rem #fff;
  border-radius: 7rem;
  font-size: 11.2rem;
  color: #fff;
  text-transform: uppercase;
  padding: 0 5rem;
  text-decoration: none;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
@keyframes rotateAppear {
  0% {
    stroke-dasharray: 0px, 1480px;
    stroke-dashoffset: -2960;
  }
  100% {
    stroke-dasharray: 1480px, 0px;
    stroke-dashoffset: 0;
  }
}
@keyframes rotateHidden {
  0% {
    stroke-dasharray: 1480px, 0px;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 0px, 1480px;
    stroke-dashoffset: -2960;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.navBar#project {
  background-color: #fff;
  margin-bottom: 40rem;
}

.project {
  padding: 50vh 1rem 0;
  min-height: 50vh;
}
.project__title {
  font-size: 16.3rem;
  text-transform: uppercase;
  position: relative;
  width: fit-content;
}
.project__title > span {
  font: 1.7rem "Archivo", sans-serif;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0rem;
  right: 0rem;
}
.project__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
.project__item {
  width: 49.76%;
  position: relative;
  background-color: #c3c3c3;
  border-radius: 1rem;
  overflow: hidden;
  transition: ease-in-out 0.25s;
  opacity: 0;
}
.project__item .project-image {
  height: 100%;
  transition: transform 0.3s linear;
}
.project__item .project-image img {
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}
.project__item .project-image img.fadeIn {
  opacity: 1;
}
.project__item .bg-cover {
  background-color: #181818;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.project__item .project-show {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  border: solid 1px #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  transition: ease-in-out 0.5s;
  opacity: 0;
}
.project__item .project-show:hover {
  background-color: #181818;
}
.project__item:hover .project-image {
  transform: scale(1.2);
}
.project__item:hover .bg-cover {
  animation: coverBg 1s forwards;
}
.project__item:hover .project-show {
  opacity: 1;
}
.project__item.lazy {
  opacity: 0;
}
.project__item.lazy:nth-child(odd) {
  transform: translateX(-3rem);
}
.project__item.lazy:nth-child(even) {
  transform: translateX(3rem);
}
.project__item.lazy.fadeIn:nth-child(odd) {
  transform: translateX(-3rem);
  animation: fadeInLeft 1s forwards;
}
.project__item.lazy.fadeIn:nth-child(even) {
  transform: translateX(3rem);
  animation: fadeInRight 1s forwards;
}

@media (max-width: 768px) {
  html {
    font-size: 1.302vw;
  }
  .project__item {
    width: 100%;
  }
}
.footer {
  background-color: #000;
  padding-top: 3rem;
  padding-bottom: 20vh;
  margin-top: 1rem;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}
.footer__social a {
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  border: solid 1px #fff;
  border-radius: 50%;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.footer__social a img {
  width: 4rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%);
}
.footer__social a:hover {
  background-color: #fff;
  color: #000;
}
.footer__social a:hover img {
  filter: invert(0%) sepia(88%) saturate(7480%) hue-rotate(227deg) brightness(104%) contrast(100%);
}

@keyframes coverBg {
  0% {
    opacity: 0.78;
  }
  100% {
    opacity: 0.26;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
body#contact {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.maxims.contact h2 {
  font-size: 16vh;
}

.contact-slide {
  width: 200vw;
  margin-top: -10vh;
}
.contact-slide p {
  color: #000;
  background-color: #69f0fb;
  font-size: 16vh;
  text-align: center;
  transform: rotate(4deg);
}

.contact-us {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 2rem;
}
.contact-us p {
  font-size: 1.6rem;
  color: #fff;
  text-transform: capitalize;
}
.contact-us .contact-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 2rem;
  padding-bottom: 2rem;
}
.contact-us .contact-list li a {
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  border: solid 1px #fff;
  border-radius: 50%;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.contact-us .contact-list li a img {
  width: 4rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%);
}

#services {
  background-color: #000;
}
#services .main {
  row-gap: 31.2rem;
}

.main__services {
  width: 100vw;
  position: relative;
  z-index: 10;
}
.main__services h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.5s linear;
  transform: translateX(-2rem);
}
.main__services h1 span {
  font: 400 16.3rem "Arimo";
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 0.3rem #fff;
  transition: color 0.5s linear;
}
.main__services:nth-child(2) {
  margin-top: 31.2rem;
}
.main__services.active h1 {
  transform: translateX(0);
}
.main__services.active h1 span {
  color: #fff;
}
.main__services#website {
  padding-bottom: 15.6rem;
}
.main .bg-cover-service {
  position: fixed;
  transition: ease-in-out 1s linear;
  top: 30vh;
  left: 30vw;
  width: 40vw;
  height: 40vh;
  background-image: url("/assets/images/services/service-bg.jpg");
  background-repeat: no-repeat;
  background-position: left -30vw top -30vh;
  background-size: 100vw 100vh;
}

.loading-scene {
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}
.loading-scene span {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(16, 16, 16) 100%);
  display: block;
  height: 0vh;
}

.loading-scene.animation {
  animation: back 0.1s 0.9s forwards;
}
.loading-scene.animation span {
  animation: loading 0.5s linear forwards;
}
.loading-scene.animation span:nth-child(4) {
  animation-delay: 0.1s;
}
.loading-scene.animation span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading-scene.animation span:nth-child(2) {
  animation-delay: 0.3s;
}
.loading-scene.animation span:nth-child(1) {
  animation-delay: 0.4s;
}

.fade {
  transition: opacity ease-in-out 0.5s;
}

.fadeIn {
  opacity: 1;
}

.fadeEleLeft {
  opacity: 0;
  transform: translateX(-5rem);
}

.fadeEleRight {
  opacity: 0;
  transform: translateX(5rem);
}

.fadeInLeft {
  opacity: 1;
  transform: translateX(0);
}

@keyframes loading {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}
@keyframes back {
  to {
    z-index: -99;
    visibility: hidden;
  }
}

/*# sourceMappingURL=main.css.map */
