#services {
    background-color: #000;
    .main {
        row-gap: 31.2rem;
    }
}
.main {
    &__services {
        width: 100vw;
        position: relative;
        z-index: 10;
        // margin-bottom: 31.2rem;
        h1 {
            @include flex(center,center,column);
            transition: transform .5s linear;
            transform: translateX(-2rem);
            span {
                font: 400 16.3rem "Arimo";
                color: transparent;
                text-transform: uppercase;
                -webkit-text-stroke: .3rem #fff;
                transition: color .5s linear;
            }
        }
        &:nth-child(2) {
            margin-top: 31.2rem;
        }
    }
    &__services.active {
        h1 {
            transform: translateX(0);
            span {
                color: #fff;
            }
        }
    }
    &__services#website {
        padding-bottom: 15.6rem;
    }
    .bg-cover-service {
        position: fixed;
        transition: ease-in-out 1s linear ;
        top: 30vh;
        left: 30vw;
        width: 30vw;
        height: 30vh;
        background-image: url("/assets/images/services/service-bg.jpg");
        @include background-img(left -30vw top -30vh, 100vw 100vh);
    }
}

@media (max-width:768px) {
    #services {
        .main {
            row-gap: 0rem;
            height: auto;
            .navBar.black {
                background-color: #000;
            }
        }
    }
    .main {
        &__services {
            padding-top: 31.2rem;
            padding-bottom: 31.2rem;
            
            &:nth-child(2) {
                margin-top: 10rem;
                padding-top: 21.2rem;
            }
            h1 {
                transform: translateX(0rem);
                span {
                    font: 400 14rem "Arimo";
                }
            }
        }
        &__services#logo {
            background: url("../images/services/service-bg.jpg") no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }
        &__services#brand {
            background: url("../images/services/service-bg-01.jpg") no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }
        &__services#package {
            background: url("../images/services/service-bg-02.jpg") no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }
        &__services#website {
            background: url("../images/services/service-bg-03.png") no-repeat;
            background-position: top 50% center 50%;
            background-size: cover;
        }
        &__services.active {
            animation: bgMoving 4s infinite;
            animation-timing-function: linear;
        }
    }
}

@keyframes bgMoving {
    0% {
        background-position: 50% 50%;
    }
    25% {
        background-position: 35% 50%;
    }
    50% {
        background-position: 50% 50%;
    }
    75% {
        background-position: 65% 50%;
    }
    100% {
        background-position: 50% 50%;
    }
}
